.header {
  display: flex;
  flex-direction: column;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  padding: 30px 0 40px;
  background: #ffffff url("../images/background_header.svg") no-repeat center;
  background-size: cover;
}
.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  right: 5px;
  top: 124px;
}
.header__content {
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 80px;
}
.header__title {
  max-width: 709px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  margin-left: 80px;
}
.span-accent {
  font-family: "Noto serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  font-style: italic;
  color: #2f80ed;
}
.header__description {
  max-width: 683px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-left: 80px;
}
.header__hours {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}
.header__paragraph {
  margin-top: 0;
  margin-bottom: 0;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
  color: #838383;
  margin-left: 80px;
  margin-right: 80px;
}