.nav {
  display: flex;
  justify-content: space-between;
}
.nav__logo {
  width: 105px;
  margin-left: 30px;
  margin-bottom: 183px;
}
.nav__links {
  display: flex;
  margin-top: 30px;
  margin-right: 80px;
  column-gap: 20px;
  padding: 0;
  list-style-type: none;
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.nav__link {
  margin-left: 28px;
  text-decoration: none;
  color: #000;
  font-size: 14px;
}
.nav__link:hover{
color:#2F80ED;
}
